body {
    padding: 1rem;
    font-family: monospace;
}

#biteNYC-header {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    border-bottom: thick double #c6001e;
}

.container {
    text-align: center;
    justify-content: center;
    line-height: 30px;
    margin: 10px auto;
    width: 55%;
    height: auto;
    display: none;
    padding: 10px;
    border: grey solid 1px;
    box-shadow: 3px 4px #c6001e;
}

.container h3 {
    font-size: 20px;
    margin: 0px 10px;
}

#new_restaurant_comments {
    width: 400px;
    height: 100px;
}

input[type="text"] {
    font-family: "Courier", monospace;
}

select {
    font-family: "Courier", monospace;
}

.favorite-btn {
    background: transparent;
    border: none;
    color: #000;
    cursor: pointer;
    font-size: 24px;
  }
  
  .favorite-btn.favorited {
    color: #FFCE00;
  }

  .card {
    text-align: center;
    border: grey solid 1px;
    padding: 16px;
    width: 350px;
    min-height: 450px;
    display: inline-grid;
    margin: 16px 32px;
    box-shadow: 3px 4px #c6001e;
  }

  .card h2 {
    font-size: 24px;
    margin: 0px 10px;
  }

  .card h3 {
    font-size: 16px;
    margin: 0px 10px;
  }

  .card p {
    font-size: 12px;
    margin: 0px 10px;
  }
  
  .restaurant-avatar {
    justify-self: center;
    height: 12rem;
    width: 100%;
    object-fit: contain;
  }

  button {
    position: relative;
    background-color: #FFCE00;
    border: none;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: #c6001e;
    font-size: 15px;
    font-family: monospace;
    justify-self: center;
  }

  input[type="submit"]  {
    margin-top: 10px;
    position: relative;
    background-color: #c6001e;
    border: none;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: #FFCE00;
    font-size: 15px;
    font-family: monospace;
    justify-self: center;
  }