body {
    padding: 1rem;
    font-family: monospace;
    /* background: black; */
}

#biteNYC-header {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

.container {
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    margin: 0 auto;
    width: 55%;
    height: auto;
    display: none;
    background: #515DA2;
    padding: 15px;
}

.add-toy-form {
    width: 80%
}

.favorite-btn {
    background: transparent;
    border: none;
    color: #000;
    cursor: pointer;
    font-size: 24px;
  }
  
  .favorite-btn.favorited {
    color: #FFCE00;
  }